<div class="navbar bg-base-100 shadow fixed top-0 z-20">
    <div class="container-layout">
        <div class="flex-1 ml-4">
            <figure>
                <img class="w-auto h-12"
                    src="https://dev-to-uploads.s3.amazonaws.com/uploads/logos/original_logo_0DliJcfsTcciZen38gX9.png"
                    alt="">
            </figure>
        </div>
        <div class="flex items-center gap-4">
            <div class="hidden sm:block">
                <button class="btn btn-ghost" [routerLink]="['/', 'auth', 'login']">Log in</button>
            </div>
            <div class="hidden sm:block">
                <button class="btn btn-outline btn-primary" [routerLink]="['/', 'auth', 'register']">Create
                    account</button>
            </div>
            <div class="dropdown dropdown-end">
                <label tabindex="0">
                    <div class="avatar placeholder cursor-pointer border-none">
                        <div class="bg-neutral-focus text-neutral-content rounded-full w-12 border-none">
                            <img src="/assets/profile.png" />
                        </div>
                    </div>
                </label>
                <ul tabindex="0"
                    class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                    <li>
                        <a class="justify-between">
                            Profile
                            <span class="badge">New</span>
                        </a>
                    </li>
                    <li><a>Settings</a></li>
                    <li><a>Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>