<div class="card  bg-base-100 shadow-md p-0 rounded-md flex flex-col gap-3 py-3">
  <app-header-post></app-header-post>
  <div>
    <div class="p-3 text-left">
      <p>Obtenga Azure sin compromiso inicial. Pague solo por los servicios que usa de forma adicional a
        las cantidades
        gratuitas.
      </p>
    </div>
    <figure>
      <img class="w-full" src="/assets/post.PNG" alt="Album" />
    </figure>
  </div>
  <div class="px-3 flex flex-col gap-2">
    <div>
      <span class="text-sm text-black">Hace 1 hora</span>
    </div>
    <div class="flex  justify-between">
      <span class="flex gap-1 ">
        <div class="bg-primary rounded-full h-6 w-6 text-center">
          <i class="ri-heart-line text-white"></i>
        </div>
        10
      </span>
      <span class="flex gap-1">
        <span>2</span>
        <span>Comentarios</span>
      </span>
    </div>
    <div class="border-t-2"></div>
    <div class="flex gap-2 p-0">
      <button class="btn btn-ghost  text-primary">
        <span><i class="ri-heart-line text-2xl"></i></span>
        <span>Me gusta</span>
      </button>
      <button class="btn btn-ghost ">
        <span><i class=" ri-chat-3-line text-2xl"></i></span>
        <span>Comentarios</span>
      </button>
    </div>
  </div>
</div>
