<div class="container flex flex-col p-5 ">
  <div class="flex justify-between items-center w-full ">
    <span class="text-black font-medium text-lg">Crear publicación</span>
    <div>
      <button (click)="close()" mat-dialog-close class="btn btn-circle">
        <i class="ri-close-line h-6 w-6"></i>
      </button>
    </div>
  </div>
  <div class="divider"></div>
  <div class="flex flex-col gap-3 container-card">
    <div>
      <div class="flex items-center gap-2">
        <div class="avatar placeholder cursor-pointer border-none flex-none">
          <div class="bg-neutral-focus text-neutral-content rounded-full w-12 border-none">
            <img [src]="user()?.avatar" [alt]="user()?.name" />
          </div>
        </div>
        <div class="flex flex-col">
          <span class="font-medium text-lg">{{user()?.name}}</span>
        </div>
      </div>
    </div>
    <div class="form-control">
      <input type="text" class="input input-bordered w-full" [formControl]="title" placeholder="Titulo prublicación" />
    </div>
    <div class="form-control">
      <select class="select select-bordered w-full" [formControl]="categoryId">
        <option disabled selected>Selecciona la categoría</option>
        @for (item of categories(); track item._id) {
        <option [value]="item._id">{{item.name}}</option>
        }
      </select>
    </div>
    <div>
      <textarea [formControl]="text" [placeholder]="'¿Qué tienes en mente ' + user()?.name + '?'  "
        class="textarea border-none outline-0  min-h-16 text-lg  text-black"></textarea>
    </div>
    <div>
      @if (images.length) {
      <div class="grid grid-cols-2 gap-4 p-2 justify-center items-center">
        @for (image of images; track image; let i = $index) {
        <div class=" border flex justify-center items-center flex-col relative">
          <img [src]="image.url" class="max-h-48  ">
          <div class="absolute top-0 right-1">
            <button (click)="removeImage(i)" class="text-lg">
              <i class="ri-close-line h-6 w-6"></i>
            </button>
          </div>
        </div>
        }
      </div>
      }
      <div class="my-3">
        <input #image hidden type="file" accept="image/*" multiple (change)="onFileChange($event)" #fileInput>
        <button class="btn btn-circle " (click)="image.click()">
          <i class="ri-image-fill h-6 w-6 text-primary"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="flex justify-end">
    <button (click)="createPost()" [disabled]="isFormInvalid" class="btn btn-primary text-sm">
      Publicar
    </button>
  </div>
</div>