.container {
    width: 644px;
    border-radius: 0.8rem;

}

textarea {
    outline: none !important;
    width: 100%;
}

.container-card {
    min-width: 380px;
    overflow-x: hidden;
    max-height: 500px;
}