<div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            {{grant()?.title}}
        </p>

    </div>
    <div class="mx-auto max-w-2xl lg:text-center my-5">
        <img [src]="grant()?.logo" [alt]="grant()?.title" class="w-full">
    </div>
    <div class=" mx-auto max-w-2xl lg:text-left">
        <p class="mt-6 text-lg leading-8 text-gray-600">
            {{grant()?.requirements}}
        </p>
    </div>
    <div class="mx-auto mt-5 max-w-2xl">
        <div class="grid max-w-xl grid-cols-1 gap-x-3 gap-y-3 lg:max-w-none lg:grid-cols-2 lg:gap-y-3">
            <div class="relative">
                <dt>
                    <span class="text-base font-semibold leading-7 text-gray-900">Estado beca:</span>
                    Vigente
                </dt>
            </div>
            <div class="relative">
                <dt>
                    <span class="text-base font-semibold leading-7 text-gray-900">Estudio:</span>
                    {{grant()?.levelEducation}}
                </dt>
            </div>
            <div class="relative">
                <dt>
                    <span class="text-base font-semibold leading-7 text-gray-900">Fecha Apertura:</span>
                    {{grant()?.initialDate| date: 'MMMM d, y' }}
                </dt>
            </div>
            <div class="relative">
                <dt>
                    <span class="text-base font-semibold leading-7 text-gray-900">Fecha Cierre:</span>
                    {{grant()?.dateEnd| date: 'MMMM d, y' }}
                </dt>
            </div>
        
        </div>
    </div>
</div>