<div class="card  flex flex-col gap-3 bg-base-100 shadow-md p-3 rounded-md">
  <div class="flex gap-3">
    <app-user-avatar></app-user-avatar>
    <div class="flex-1">
      <input type="text" placeholder="Crear publicación" class="input input-bordered w-full outline-none rounded-full cursor-pointer hover:bg-gray-300
                      focus:border-transparent focus:ring-0 
                        " />
    </div>
  </div>
  <div>
    <button (click)="openModal()" class="btn btn-ghost font-medium">
      <i class="ri-image-fill text-info"></i>
      <span>Contenido multimedia</span>
    </button>
  </div>
</div>
