<div class="card  flex flex-col gap-3 bg-base-100 shadow-md  py-5 rounded-md">
    <div class="px-5">
        <span class="text-2xl font-bold ">Atractivos mas populares</span>
    </div>
    @for (item of mostsPopulars(); track item._id) {
    <div class="border-t py-3 flex flex-col gap-2">
        <span class="mx-5 text-lg font-medium">{{item.title}}</span>
        <span class="mx-5">{{item.content}}</span>
    </div>
    }
    <!-- <div class="border-t py-3 flex flex-col gap-2">
        <span class="mx-5 text-lg font-medium">React.js: Why you might need useReducer</span>
        <span class="mx-5">Obtenga Azure sin compromiso inicial. Pague solo por los servicios .....</span>
    </div>
    <div class="border-t py-3 flex flex-col gap-2">
        <span class="mx-5 text-lg font-medium">React.js: Why you might need useReducer</span>
        <span class="mx-5">Obtenga Azure sin compromiso inicial. Pague solo por los servicios .....</span>
    </div> -->
</div>