<article class="flex max-w-xl flex-col items-start justify-between cursor-pointer" [routerLink]="[ grant().id]">
    <div>
        <img src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3603&q=80"
            alt="" class="w-full rounded-2xl ">
    </div>
    <div class="flex items-center gap-x-4 text-xs mt-5">
        <time datetime="2020-03-16">
            <span class="font-semibold ">
                Fecha de publicación
            </span>
            {{grant().initialDate| date: 'MMMM d, y' }}

        </time>
        <a href="#"
            class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">
            {{grant().type}}
        </a>
    </div>
    <div class="group relative">
        <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <span href="#">
                <span class="absolute inset-0"></span>
                {{grant().title}}
            </span>
        </h3>
        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">Illo sint voluptas. Error voluptates
            culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed
            exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.</p>
    </div>
</article>